<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plan My Trip</title>
    <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">    
    <link href="main.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    
    <script src="framework/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="framework/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="container" id="app">
        <div class="pb-5 text-center">
            <span class="logo">Plan My Trip</span>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 col-sm-12">
                <button v-on:click="addLeg">Add Leg</button>
                <todo-item v-on:data-change="calculateTotalTime()"
                v-for="i in tripLegs"
                v-bind:leg="i"
                v-bind:key="i.id"
                ></todo-item>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 col-sm-12">
                <div class="alert alert-success">
                    <h1 class="display-6">Approximate <b>{{tripTotalMin}}</b> Days Total</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 px-sm-auto my-md-auto pr-md-0 ">
                        <div class="form-check" style="float: right;">
                            <input class="form-check-input" type="checkbox" value="" id="receiveNewsletter">
                            <label class="form-check-label" for="receiveNewsletter">
                              Get News on hottest travel deals
                            </label>
                          </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group my-md-auto">
                            <input type="email" v-model="email" placeholder="traveller@planmytrip.com" class="form-control form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 my-md-auto pl-0">
                        <button class="btn btn-success" v-on:click="sendEmail()">Email Me Trip Details</button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© Plan My Trip</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script src="app.js"></script>
    
</body>

</html>