/* font-family: 'Nanum Pen Script', cursive;
font-family: 'Oleo Script Swash Caps', cursive; */


/* 
Colour Palette
#5d13e7  Blue
#7ad9f5  Light Blue 
#bdf2d5  Light Green
#f6f6f6  Light Grey

*/
body{
    background-color: #fdffdc;
}
span#logo{
    font-family: 'Nanum Pen Script', cursive;
}