/* font-family: 'Nanum Pen Script', cursive;
font-family: 'Oleo Script Swash Caps', cursive; */


/* 
Colour Palette
#5d13e7  Blue
#7ad9f5  Light Blue 
#bdf2d5  Light Green
#f6f6f6  Light Grey

Green Treeline: #478559
Purple baseline: #161748
Pink highlight: #f95d9b
Bluewater lowlight: #39a0ca

*/
body{
    /* background-color: #fdffdc;
    color: #3a3d7b; */
    background-color: #39a0ca;
    color:  #478559;
}
span.logo{
    font-family: 'Rubik', sans-serif;
    font-size: 5em;
    color:  #478559
}